<div style="margin-right: 1rem; margin-top: 1rem">
  <h1>Jorge's Portfolio</h1>

  <img
    src="ProfilePicture.jpg"
    style="width: 14rem; border-radius: 50%; float: right; margin-top: 1rem; margin-right: 1rem;"
  />
</div>

<div style="margin-top: 12rem; margin-left: 1rem">
    <p>
    <a
      href="https://github.com/Jolumesa"
      target="_blank"
      style="color: rgb(138, 135, 145); font-size: 1.2rem"
      >GitHub</a
    >
  </p>
  <p>
    <a
      href="http://linkedin.com/in/jolumesa"
      target="_blank"
      style="color: rgb(121, 176, 254); font-size: 1.2rem;"
      >Linkedin</a
    >
  </p>

  <p>
    <a href="JorgeMena_Resume.pdf" download style="color: rgb(54, 128, 128); font-size: 1.2rem"
      >Download CV</a
    >
  </p>
</div>

<div style="text-align: center; margin-top: 4rem; font-family: Saira; font-size: 1.7rem; font-weight: 300;">SKILLS</div>

<div style="text-align: center; ">
  <img
    src="js.png"
    style="width: 4rem; height: 4rem; margin-right: 1rem; margin-top: 1rem; border-radius: 10%; margin-left: 1rem;"
  />
  <img
    src="ts.png"
    style="width: 4rem; height: 4rem; margin-right: 1rem; margin-top: 1rem; border-radius: 10%"
  />
  <img
    src="HTML.png"
    style="width: 4rem; height: 4rem; margin-right: 1rem; margin-top: 1rem; border-radius: 10%"
  />
  <img
    src="CSS.jpg"
    style="width: 4rem; height: 4rem; margin-right: 1rem; margin-top: 1rem; border-radius: 10%"
  />
  <img
    src="Git.png"
    style="width: 4rem; height: 4rem; margin-right: 1rem; margin-top: 1rem; border-radius: 10%"
  />
  <img
    src="Angular.png"
    style="width: 4rem; height: 4rem; margin-right: 1rem; margin-top: 1rem; border-radius: 10%"
  />
</div>




<div style="text-align: center; margin-top: 4rem; font-family: Saira; font-size: 1.7rem; font-weight: 300;">PERSONAL PROJECT</div>
<div style="text-align: center; margin-top: 1rem;"><img src="tasksManagement.png" style="width: 19rem; border-radius: 5%;"></div>
<p style="text-align: center; margin-top: 0.5rem;">
    <a
      href="https://tasks-management-delta.vercel.app"
      target="_blank"
      style="color: rgb(185, 190, 183);"
      >tasks-management-delta.vercel.app</a
    >
  </p>

<div
  style="
    text-align: center;
    margin-top: 4rem;
    margin-left: 25%;
    margin-right: 25%;
  "
>
<div style="text-align: center;  font-family: Saira; font-size: 1.7rem; font-weight: 300;">ABOUT ME</div>
  <p style=" font-family: Saira; margin-top: 1rem; ">
    Dedicated web development student and tech support specialist seeking for a role where I can apply and expand my knowledge. Reliable team member with a strong work experience, always willing to help my colleagues

  </p>
</div>
