<div style="margin-right: 1rem; margin-top: 1rem;">
<h1>Jorge's Portfolio</h1>

<img src="ProfilePicture.jpg" style="width: 14rem; border-radius: 4%; float: right;" />
</div>

<div style="margin-top: 12rem; margin-left: 1rem;">
<p><a href="http://linkedin.com/in/jolumesa" target="_blank" style="color: rgb(121, 176, 254);">Linkedin</a></p>
<p><a href="https://github.com/Jolumesa" target="_blank" style="color: rgb(138, 135, 145);">GitHub</a></p>
<p><a href="https://tasks-management-delta.vercel.app/" target="_blank" style="color: rgb(82, 118, 65);">Personal app (Tasks management)</a></p>
<p><a href="JorgeMena_Resume.pdf" download style="color: rgb(54, 128, 128);">Download CV</a></p>

</div>



<div style="text-align: center; margin-top: 5rem;">
    <p>Testing</p>
</div>