
@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Dancing+Script:wght@400..700&family=Exile&family=Permanent+Marker&family=Playwrite+DK+Loopet:wght@100..400&family=Prociono&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

h1 { 
  
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
    text-align: right;
  font-size: 2rem;
    
}